<h3 class="md-headline">Status data for {{vehicle?.name}}</h3>

<table mat-table [dataSource]="vehicleStatus" matSort matSortActive="notified" matSortDisableClear
    matSortDirection="desc">
    <ng-container matColumnDef="notified">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Notified</th>
        <td mat-cell *matCellDef="let row">{{row.notified | date}}</td>
    </ng-container>

    <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef>Latitude</th>
        <td mat-cell *matCellDef="let row">{{row.latitude}}</td>
    </ng-container>

    <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef>Longitude</th>
        <td mat-cell *matCellDef="let row">{{row.longitude}}</td>
    </ng-container>

    <ng-container matColumnDef="speed">
        <th mat-header-cell *matHeaderCellDef>Speed</th>
        <td mat-cell *matCellDef="let row">{{row.speed}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>